* {
    padding: 0;
    margin: 0;
}
 .card-footer {
    bottom: 0;
}
.back {
    background-image: url(https://wallpaperaccess.com/full/1913581.jpg);
    background-attachment: fixed;
    background-size: cover;
}